form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #7cd293;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

    form div {
        display: flex;
        flex-direction: column;
    }

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #30cd54;
    border-radius: 5px;
    box-sizing: border-box;
}

    input:focus {
        border-color: #66afe9;
        outline: none;
        box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
    }

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    button:hover {
        background-color: #218838;
    }

#mess {
    color: red;
    margin-top: 10px;
}

.home-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}

    .home-button i {
        margin-right: 8px;
    }

    .home-button:hover {
        background-color: #0056b3;
    }

    .home-button:focus,
    .home-button:active {
        outline: none;
        background-color: #004080;
    }
